body{
    background-color: antiquewhite
}

.spotify{
  position: relative;
  float:right;
  margin-right:150px;
  margin-top: 30px;
  margin-left: 150px;    
  margin-bottom: 20px
}

.clock{
    position: relative;
  float:left;
  margin-left:100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px
  
}

.clear{
    clear:both;
}

button {
    position: relative;
  background-color: #FFE5B4; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-left: 120px;
  border-radius: 12px;
  margin-top: 10px;
  font-family: cursive
}

button:hover {background: #eee;}

@media screen and (max-width: 500px) {
    body{
    background-color: antiquewhite
}

.spotify{
  position: relative;
  align-content: center;
  align-items: center;
  margin-top: 30px;
    }

.clock{
    position: relative;
  margin-left:auto;
  margin-top: 50px;
  margin-right: auto
  
}

.clear{
    clear:both;
}

button {
    position: relative;
  background-color: #FFE5B4; 
  border: none;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
    border-radius: 12px;
  margin-top: 50px;
  font-family: cursive
}

button:hover {background: #eee;}

}
